@charset "UTF-8";






#slider{
	position: relative;
	z-index: 0;
}





/* 배경부분 */
 #img_content{
   background: black;
  width: 414px;
  height: 309px;
  left:30%;
  top: 250px; 
  /* margin: 20px auto; */
  border-radius: 5px;
  box-shadow: 0 0 100px gray;
  position: absolute;
 z-index: 3;
}

 

/* #img_content .map-1{
	display:inline-block;
	top: 200px;
}
 */
#img_content .plan_tit {
	color: white;
	font-size: 8pt;
position: absolute;
}

#imgId1{
 margin-top: 63px;
}


/* 배경부분 */
/*  #img_content{
  background: black;
  width: 414px;
  height: 309px;
   top: 308px; 
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 100px gray;
  overflow: hidden;    부모 요소가 자식 요소 높이 값 인식하기
  position: absolute;
   opacity: 0.9;
   bottom: 383px;
   right: 293px;
   z-index: 1;
}
 */

/* 이미지 한 곳에 모으기 */
/* .select_img img{
  width: 100%;
  height: 100%;
   position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 1.5s;
} */

/* label 클릭시 이미지 나타내기 */
/* input[id="select_box1"]:checked ~ #imgbox .select1 img{
  opacity: 1;
}

input[id="select_box2"]:checked ~ #imgbox .select2 img{
  opacity: 1;
}

input[id="select_box3"]:checked ~ #imgbox .select3 img{
  opacity: 1;
}

input[id="select_box4"]:checked ~ #imgbox .select4 img{
  opacity: 1;
}

input[id="select_box5"]:checked ~ #imgbox .select5 img{
  opacity: 1;
}

input[id="select_box6"]:checked ~ #imgbox .select6 img{
  opacity: 1;
}

input[id="select_box7"]:checked ~ #imgbox .select7 img{
  opacity: 1;
}



첫 번째 label위치 이동
#img_content label:nth-child(1){
  margin-top: 20px;
}
 */
