@charset "UTF-8";

/* 기본 태그에 관한 css */
body {
	font-family: 'Do Hyeon', sans-serif;
	margin: 0px;
	padding: 0px;
}

a{
	 text-decoration-line: none;
}
/* 여기부터 배경 */
.color-change-4x {
	-webkit-animation: color-change-4x 10s linear infinite alternate both;
	        animation: color-change-4x 10s linear infinite alternate both;
}

@-webkit-keyframes color-change-4x {
  0% {
    background: #FDAFAB;
  }
  33.3333% {
    background: #D9F1F1;
  }
  66.666% {
    background: #FAF1D6;
  }
  100% {
    background: #FAD4AE;
  }
}
@keyframes color-change-4x {
   0% {
    background: #FDAFAB;
  }
  33.3333% {
    background: #D9F1F1;
  }
  66.666% {
    background: #FAF1D6;
  }
  100% {
    background: #FAD4AE;
  }
}
/* 여기까지 배경 */


/* 홈 영역 전체*/
.homeDiv {
	background-color:white;
	opacity:90%;
	width: 100%; height: auto;
	display: flex;
	text-align: center;
	align-items: flex-end;
	justify-content: center;
}

#home > a{
	width: 30%;
	height: auto;
	font-size: 30pt;
	color:black;
}

#menu > a {
	width: 15%;
	height: auto;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 23pt;
	color:black;
}

/* #logoimg {
	width:50%;
	justify-content: center;
	margin: 10px;
} */

#bannerImg {
	width: 80%;
}

#bannerImg:hover {
	opacity: 70%;
}

/* 콘텐트 영역 전체*/
.ContentDiv {
	padding: 20px;
}

#contentSlide {
	width: 100%;
	margin: 10px;
	margin: 15px;
}

#content01 {
	margin: 10px;
/* 	height: auto; */
}

#content02 {
	margin: 10px;
	font-size: 17pt;
	text-align: center;
}

/* 푸터 영역 */
.footerDiv {
background-color:white;
	margin: auto;
	padding-bottom:20px;
	padding-top:15px;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

#footer {
	text-align: center;
}

#footerDetail {
	text-align: left;
}