@charset "UTF-8";

/* 기본 태그에 관한 css */
body{
	font-family: 'Song Myung', serif;
	margin: none;
	padding: none;
}

a {
  text-decoration: none; 
}

/* 홈 영역 전체*/
.homeDiv{
	/* 영역확인용 */
	border: 2px solid black;
	width: 97vw;
	display: flex;
	padding: 5px;
	text-align: center;
	align-items: flex-end;
}

#home{
	/* 영역확인용 */
	border: 2px solid black;
	
	width: 30%; height: 100px;
	font-size: 25pt;
}
#menu{
	/* 영역확인용 */
	border: 2px solid black;
	
	width: 15%; height: 50px;
	font-size: 18pt;
}
#logoimg{	
	width: 120px;
	align-items: center;
}


/* 콘텐트 영역 전체*/
.ContentDiv{
	display: flex;
	padding: 10px;
	align-content: center;
	text-align: center;
}

#contentSlide{
	width: 76%; 
	height: auto;
	margin: 10px;
	background-color: aqua;
	margin: 15px;
}
#content01 {
	margin: 10px;
	width: 12%;
	background-color: gray;
}
#content02 {
	margin: 10px;
	width: 12%;
	background-color: gray;
}


/* 푸터 영역 */
.footerDiv {
	display: flex;
	padding: 10px;
	height: 50px;
	text-align: center;
}
#footer{
	width: 85%;
	border: 1px solid black;
}