@charset "UTF-8";

/* 기본 태그에 관한 css */
body {
	font-family: 'Do Hyeon', sans-serif;
	margin: 0px;
	padding: 0px;
}



/* 홈 영역 전체*/
.homeDiv {
	margin-left: auto; margin-right:auto;
	width: 100%;
	height: auto;
	display: flex;
	text-align: center;
	align-items: flex-end;
	justify-content: center;
}

#home > a{
	width: 30%;
	height: auto;
	font-size: 30pt;
	color:black;
}

#menu > a {
	width: 15%;
	height: auto;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 23pt;
	color:black;
}

/* #logoimg {
	width:50%;
	justify-content: center;
	margin: 10px;
} */

#bannerImg {
	width: 80%;
}

#bannerImg:hover {
	opacity: 70%;
}

/* 콘텐트 영역 전체*/
.ContentDiv {
	padding: 20px;
}

#contentSlide {
	width: 100%;
	margin: 10px;
	margin: 15px;
}

#content01 {
	margin: 10px;
/* 	height: auto; */
}

#content02 {
	margin: 10px;
	font-size: 17pt;
	text-align: center;
}

/* 푸터 영역 */
.footerDiv {
background-color:aqua;
	margin: auto;
	padding-bottom:20px;
	padding-top:15px;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

#footer {
	text-align: center;
}

#footerDetail {
	text-align: left;
}