@charset "UTF-8";

.boardInput{
	width: 80%;
	vertical-align: middle;
}
.mainBoard{
	margin: auto;
	width: 100%;	
	align-content: center; text-align: center; align-items: center;
}
/* 게시판 제목 */
#BoardtitleDiv{
	width: 100%;
}
	#BoardtitleDiv div{
		width:80%;
		display: inline;
	}

/* 카테고리 선택 */
#BoardCateDiv{
	width: 100%;
}
	#BoardCateDiv div{
		width: 80%;
		display: inline;
	}

/* 닉네임 설정 */
#BoardNameDiv{
	width: 100%;
}
	#BoardNameDiv div {
		width:80%;
		display: inline;
	}

/* 글쓰기 영역 */
#BoardTxtDiv{
	width: 100%;
	margin: 15px;
}
	/* textarea 고정 */
#BoardTxtArea{
		width: 80%;
		height: 250px;
		resize: none;
	}

/* 사진첨부영역 */
#BoardImageDiv{
	width: 100%;
	margin: 10px;
}
