@charset "UTF-8";


/* 글쓰기버튼 */
.BoardInputDiv{
	text-align: right;
	margin-right: 20px;	margin-top: 5px; margin-bottom: 5px;

}
.BoardInputDiv button{
	width: 150px; height: 20px;
}

/* 전체 테이블 배치용 */
.ViewBoardMain{
	width: 100%;
	display: flex;
}
 /* 카테고리 선택 영역 */
.BoardCateDiv{
	width:35%;
	background-color: blue;
}

.BoardCateDiv div{
	width: 90%;
	margin: 15px;
	padding: 5px;
	background-color: yellow;
}

/* 글 목록 출력 영역 */
.BoardSeeNoteDiv{
	width:65%;
}

#boardSeeNote{
	width: 100%;
	display: flex;
}

#seeNoteTable {
	width: 100%;
}

#seeNoteTable_detail:hover{
	background-color:lime;
	color:#6098FF;  
}
