@charset "UTF-8";

/* 글쓰기버튼 */
.BoardInputDiv {
	text-align: right;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.BoardInputDiv button{
	font-family: 'Do Hyeon', sans-serif;
	font-size: 13pt;
	background-color:#dfdfdd ;
	color: #514f4a;
}

/* 전체 테이블 배치용 */
.ViewBoardMain {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #FFFDFA;
	width: 100%;
	display: flex;
}
/* 카테고리 선택 영역 */
.BoardCateDiv {
	font-family: 'Do Hyeon', sans-serif;
	width: 35%;
}

.BoardCateDiv div {
	background-color: #688acb;
	color: #dfdfdd;
	width: 90%;
	margin: 15px;
	font-size: 20pt;
}

/* 글 목록 출력 영역 */
.BoardSeeNoteDiv {
	text-align: center;
	margin-top: 15px;
	margin-left: 5px;
	width: 65%;
}

#seeNoteTopTr {
	font-family: 'Do Hyeon', sans-serif;
	color: #dfdfdd;
	background-color:#688acb;
}

#boardSeeNote {
	width: 100%;
	display: flex;
}

#seeNoteTable {
	width: 100%;
}

#seeNoteTable_detail:hover {
	font-weight: 600;
	color: #514f4a;
	background-color: #dfdfdd;
}

/* 페이징관련 */
.pagingDivMain {
	align-content: center;
	text-align: center;
	display: inline-flex;
	margin: 15px;
}

.pagingDivMain div {
	font-weight: 600;
	margin-right: 10px;
	margin-left: 10px;
	align-content: center;
	text-align: center;
}