@charset "UTF-8";
@media(max-width:1023px){
	.allBoardView{
		display: block;
	};
	
	.ViewBoardMain {
		display: block;
	}
	.BoardCateDiv div{
		display: inline-flex;
	}
	
}

@media(max-width:800px){
	
}




/* 글쓰기버튼 */
.BoardInputDiv {
	display:block;
}

.BoardInputDiv button{
	font-family: 'Do Hyeon', sans-serif;
	font-size: 13pt;
}

/* 전체 테이블 배치용 */
.ViewBoardMain {
	border-radius: 30px;
	font-family: 'Noto Sans KR', sans-serif;	background-color: #FFFDFA;
	width: 100%;
	display: flex;
	margin: 10 auto;
}
/* 카테고리 선택 영역 */
.BoardCateDiv {
	font-family: 'Do Hyeon', sans-serif;
	width: 20%;
}

.BoardCateDiv div {	
	background-color: #FFDB9B;
	color: white;
	width: 80%;
	text-align: right;
	font-size: 20pt;
	padding-right:10px;
	margin-right: 5px;

}

#boardCate1{
	margin: 10px;
}
#boardCate2{
	margin: 10px;
}
#boardCate3{
	margin: 10px;
}

/* 글 목록 출력 영역 */
.BoardSeeNoteDiv {
	text-align: center;
	margin-top: 15px;
	width: 78%;
}

#seeNoteTopTr {
	font-family: 'Do Hyeon', sans-serif;
}

#boardSeeNote {
	width: 100%;
	display: flex;
}

#seeNoteTable {
	width: 100%;
}

#seeNoteTable_detail:hover {
	font-weight: 600;
	color: #514f4a;
	background-color: #dfdfdd;
}

/* 페이징관련 */
.pagingDivMain {
	align-content: center;
	text-align: center;
	display: inline-flex;
	margin: 15px;
}

.pagingDivMain div {
	font-weight: 600;
	margin-right: 10px;
	margin-left: 10px;
	align-content: center;
	text-align: center;
}