@charset "UTF-8";

#leftInformation {
	position: relative;
}

.photo {
	margin-top: -40px;
	position: absolute;
	/*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
	display: block;
}

.photo img {
	object-fit: cover;
	/*filter: grayscale(100%) contrast(120%);*/
	box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
	display: block;
	transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
	/*margin-top: -10px;*/
}

.photo:hover img {
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
}

.photo .glow-wrap {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	/*margin-top: -10px;*/
}

.photo .glow {
	display: block;
	position: absolute;
	width: 40%;
	height: 200%;
	background: rgba(255, 255, 255, .2);
	top: 0;
	filter: blur(5px);
	transform: rotate(45deg) translate(-450%, 0);
	transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow {
	transform: rotate(45deg) translate(450%, 0);
	transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img, .photo:hover .glow-wrap {
	margin-top: 0;
}

.photo span {
	top: 110px;
	left: 65px;
	font-size: 42pt;
	color: white; position : absolute;
	z-index: 1;
	transform: translate(-25%, -65%);
	margin: 0;
	position: absolute;
}

#click {
	position: absolute;
	opacity: 0;
	left: 330px;
	bottom: 5px;
	font-size: 15pt;
}

.photo:hover #click {
	opacity: 1;
}

#leftInformation {
	float: left;
	width: 40%;
	margin-top: 50px;
}

/*#showBoard{
	float: left;
	width: 40%;
}*/
.showTable {
	margin-top: 220px;
}

.showBoardTitle {
	font-size: 25pt;
	margin-top: 35px;
	margin-left: -390px;
	text-align: left;
}

.gotoBoard {
	text-align: right;
	vertical-align: bottom;
	font-size: 13pt;
}

.showTbTitle {
	background-color: #dfdfdd;
	text-align: center;
}

.showList {
	background-color: white;
}

.showListNo {
	width: 10%;
	text-align: center;
}

.showListCate {
	width: 30%;
	text-align: center;
}

.showListTitle {
	width: 60%;
	text-align: center;
}

#calendar {
	/*max-width: 1100px;*/
	/*margin: 0 auto;*/
	width: 50%;
	float: right;
}