@charset "UTF-8";

#gotoFesInfo {
	width: 40%;
}

#leftInformation{
	float: left;
	width: 40%;
	margin-top: 50px;
}


/*#showBoard{
	float: left;
	width: 40%;
}*/

.showBoardTitle {
	font-size: 25pt;
	margin-top: 30px;
	margin-bottom: 50px;
}

.gotoBoard {
	margin-left: 220px;
}

.showTbTitle {
	background-color: #dfdfdd;
	text-align: center;
}

.showList{
	background-color: white;
}

.showListNo {
	width: 10%;
	text-align: center;
}

.showListCate {
	width: 30%;
	text-align: center;
}

.showListTitle {
	width: 60%;
	text-align: center;
}


#calendar {
	/*max-width: 1100px;*/
	/*margin: 0 auto;*/

	width: 50%;
	float: right;
}