@charset "UTF-8";

#fesInfo {
	width: 750px;
	height: 330px;
	background-color: white;
	float: left;
	border: 1px;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 35px;
}

.fesInfoTitle {
	text-align: left;
	font-size: 25pt;
	margin-top: 20px;
	margin-left: 20px;
}

.fesInfoTitle li {
	font-size: 15pt;
}

.fesInfoTitle ul li {
	list-style-type: square;
}

.fesInfoImg {
	width: 330px;
	float: right;
	text-align: center;
	margin-top: 20px;
	margin-right: 20px;
}

.programLink {
	float: left;
	/*margin-top: 50px;*/
	color: gray;
	text-align: left;
	width: 70%;
	font-size: 7pt;
	display: inline-flex;
}

.buttonKR {
	position: relative;
	display: inline-block;
	margin: 20px;
	position: relative;
	float: right;
	width: 10%;
	padding: 0;
	/*margin: 30px 20px 10px 0;*/
	font-weight: 600;
	text-align: center;
	line-height: 50px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
	/*position: absolute;*/
}

.btnLightBlue {
	background: #78c7d2;
}

.btnLightBlue.btnPush {
	box-shadow: 0px 5px 0px 0px #1E8185;
}

.buttonJP {
	display: block;
	position: relative;
	float: right;
	width: 120px;
	padding: 0;
	margin: 30px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 50px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
}

.btnLightRose {
	background: #f4acb7;
}

.btnLightRose.btnPush {
	box-shadow: 0px 5px 0px 0px #ef476f;
}